<head>
    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>{{ site.title }}</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="{{ '/assets/css/blog_base.css' }}">
    <link rel="stylesheet" href="{{ '/assets/css/blog_vendor.css' }}">
    <link rel="stylesheet" href="{{ '/assets/css/blog_main.css' }}">

    <!-- script
    ================================================== -->
    <script src="{{ '/assets/js/blog_modernizr.js' }}"></script>
    <!-- favicons
    ================================================== -->
    <link rel="icon" type="image/png" href="{{ '/assets/favicon.svg' }}">
</head>